@import "tailwindcss";
@import "./css/rainbow.css";

@plugin "@iconify/tailwind4" {
  prefixes: ri, heroicons, logos;
  /* maskSelector: ".icon"; */
  /* backgroundSelector: ".icon-color"; */
  icon-sets: from-json(logos, "./icons.json");
}

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand: var(--vp-c-brand);
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
}


@layer base {

  a {
    color: var(--vp-c-brand);
    opacity: 0.8;
    transition: .3s ease-in-out;

    &:hover {
      opacity: 1
    }
  }

  .iconify {
    vertical-align: -0.125em;
    color: inherit;
  }

  /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  /*定义滚动条轨道 */
  ::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 4px;
  }

  /*定义滑块 */
  ::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 4px;
  }
}


.dark {

  /*定义滚动条轨道 */
  ::-webkit-scrollbar-track {
    @apply bg-slate-600;
  }

  /*定义滑块 */
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-700;
  }
}

/*  */


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

.logo-rotate {
  animation: rotate infinite 6s linear;
}


.header-line-shadow {
  @apply relative z-10;

  &::before {
    @apply fixed content-[''] w-full;
    box-shadow: 0 0 4px 1px #ddd;
  }

  &::after {
    /* @apply absolute content-[''] w-full h-1 bg-gradient-to-b from-white to-white; */

    @apply absolute content-[''] w-full h-1 bg-white;
  }
}

.dark .header-line-shadow {
  &::before {
    box-shadow: 0 0 4px 1px rgb(0 0 0 / 35%);
  }

  &::after {
    @apply bg-slate-800;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fade-in-up,
.fade-in-up-content>* {
  animation-duration: 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}